<a href="https://colab.research.google.com/github/miracle-a-osigwe/hamoye_files/blob/master/quiz_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hamoye Assessment Quiz
Miracle Osigwe quiz code

In [1]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np

In [2]:
#load the file from the url and read its content
filename = 'https://bit.ly/HDSC-StageOneDataset'
fuel_data = pd.read_csv(filename)

#preview the dataset
fuel_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

QUESTION 1

In [ ]:
#A python list extend function iterates through the value to be added to the list

QUESTION 2

In [3]:
#identity matrix is created by running this code
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

QUESTION 3

In [ ]:
#mapping out the various fuel type
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

QUESTION 4

In [ ]:
#standard deviation
fuel_data['fuel_mmbtu_per_unit'].std()

#percentile
fuel_data['fuel_mmbtu_per_unit'].quantile(q=0.75, interpolation='linear')

QUESTION 5

In [ ]:
#calculating the skewness of fuel quantity burned
fuel_data['fuel_qty_burned'].skew()

#calculating the kurtosis of the fuel quantity burned
fuel_data['fuel_qty_burned'].kurt()

QUESTION 6

In [ ]:
# using the isnull function to capture the null values and use the sum function to know the total number of the null values
null = fuel_data['fuel_unit'].isnull().sum()

#using the count function on the record id feature to know the total number of rows
total_value = fuel_data['record_id'].count()
total_value1 = fuel_data['fuel_unit'].count()

#using the total rows in the dataset
#checking the percentage of missing values to the total number of rows
percentage = (null/total_value) * 100
percentage

#uisng the non null value of the feature fuel_unit
percentage1 = (null/total_value1) * 100
percentage1

QUESTION 7

In [ ]:
"""A feature can be categorical or numerical, so according to the values of the feature with missing values,
it is obvious that it is categorical, and for this categorical datatype, it is most suitable to replace/fill it 
with the mode of the data values.
So the answer is categorical and mode imputation
"""

QUESTION 8

In [ ]:
# cheking the correlation of other numeric features when compared to the fuel cost burned
# took the absolute value because the numeric sign (+, -) is just to express the nature of the correlation

fuel_data.corr().loc['fuel_cost_per_unit_burned'].abs().sort_values()

so according to the output, the answer are fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered

QUESTION 9

In [ ]:
#using groupby function to place emphasis on the fuel unit and the fuel type, which will help me to calculate 
#the mean across the required years 

yearly_cost = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

#using the loc label to extract two particular years and the fuel type
year_1994, year_1998 = yearly_cost.loc[[1994, 1998], 'coal']

#explicit method of finding the percentage change in the two years for the fuel type 'coal'
percent_change = ((year_1998 - year_1994)/ year_1994) * 100

percent_change

QUESTION 10

In [4]:
#method 1
# using groupby function to combine the year and the fuel cost delivered
#taking the mean, to get the average cost delivered per year
#then sorting the values from highest to the lowest
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64

In [5]:
#method 2

year = fuel_data[fuel_data['report_year'] >= 1994] #we have the whole year with this line of code

#drawing a map for our mean
mean_map = pd.pivot_table(year, values='fuel_cost_per_unit_delivered', index='report_year')

#presenting a sorted mean values
mean_map.sort_values(by='fuel_cost_per_unit_delivered', axis=0, ascending=False)

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239
1996                          9196.705948
2000                           985.362877
2009                           652.694163
2018                           499.269966
2015                           326.535511
1998                           287.154420
2014                           192.737183
2013                           172.307591
2004                           139.524275
2016                           103.901761
2010                            91.862105
1994                            63.636060
2012                            60.994502
2001                            60.050396
2011                            59.774667
2008                            58.588197
2003                            55.663493
2002                            47.594361
2017                            46.196861
2007                            43.325023
2005                            41.438184
2006                            38.657484
1995                            32.735269
1999                            25.551627