<a href="https://colab.research.google.com/github/miracle-a-osigwe/hamoye_files/blob/master/quiz_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hamoye Assessment Quiz
Miracle Osigwe quiz code

In [ ]:
#import pandas and numpy libraries
import pandas as pd
import numpy as np

In [ ]:
#load the file from the url and read its content
filename = 'fuel.csv'
fuel_data = pd.read_csv(filename)

#preview the dataset
fuel_data.head()

QUESTION 1

In [ ]:
#identity matrix is created by running this code
np.identity(3)

QUESTION 2

In [ ]:
"""A feature can be categorical or numerical, so according to the values of the feature with missing values,
it is obvious that it is categorical, and for this categorical datatype, it is most suitable to replace/fill it 
with the mode of the data values.
"""

QUESTION 3

In [ ]:
# cheking the correlation of other numeric features when compared to the fuel cost burned
# took the absolute value because the numeric sign (+, -) is just to express the nature of the correlation

fuel_data.corr().loc['fuel_cost_per_unit_burned'].abs().sort_values()

so according to the output, the answer are fuel_mmbtu_per_unit and fuel_cost_per_unit_delivered

QUESTION

In [ ]:
# Two methods to solve this
#method 1
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending=False)

In [ ]:
#method 2

year = fuel_data[fuel_data['report_year'] >= 1994] #we have the whole year with this line of code

#drawing a map for our mean
mean_map = pd.pivot_table(year, values='fuel_cost_per_unit_delivered', index='report_year')

#presenting a sorted mean values
mean_map.sort_values(by='fuel_cost_per_unit_delivered', axis=0, ascending=False)

QUESTION

In [ ]:
#Two methods to solve this
#method 1 looks quite direct
#using groupby function to place emphasis on the fuel unit and the fuel type, which will help me to calculate 
#the mean across the required years 

yearly_cost = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].mean()

#using the loc label to extract two particular years and the fuel type
year_2002, year_2005 = yearly_cost.loc[[2002, 2005], 'coal']

#explicit method of finding the percentage change in the two years for the fuel type 'coal'
percent_change = ((year_2005 - year_2002)/ year_2002) * 100

percent_change

In [ ]:
#method 2 presents the data in a more detailed format
#using a pandas pivot table to array the data in an interconnected format

yearly_analysis = fuel_data[fuel_data['report_year'] >=2002]#this is to select the years from 2002 upward
preview_table = pd.pivot_table(yearly_analysis, values='fuel_cost_per_unit_burned', index='fuel_type_code_pudl',
                              columns='report_year') #using the pivot table to place the various feature in the row and column
#using the iloc function to assess the data

year_02 = preview_table.iloc[0, 0] 
year_05 = preview_table.iloc[0, 3]

# calculate the percentage change in the 

percentage_change = ((year_05-year_02)/year_02) * 100
percentage_change

QUESTION 4

In [ ]:
#calculating the percentage change in the fuel cost burned for year 1998 and 1994
#using groupby function to take the sum of the values
total_year = fuel_data.groupby(['report_year', 'fuel_type_code_pudl'])['fuel_cost_per_unit_burned'].sum()

#picking out the date, and fuel type using the loc function
year_1994, year_1998 = total_year.loc[[1994, 1998], 'coal']

#calculate the percentage 
percent_change = ((year_1998-year_1994)/year_1994) * 100
percent_change

-20.56765451826049

In [ ]:
#using the pivot table method

#filter the dataset 
filtered_date = fuel_data[fuel_data['report_year'] < 1999] #capturing years that are less than 1999

#fuel pivot table
piv_fuel = pd.pivot_table(filtered_date, values=['fuel_cost_per_unit_burned'],
                         index=['report_year'], columns=['fuel_type_code_pudl'])

#using iloc to pick the value for the 1998 and 1994
year98 = piv_fuel.iloc[4, 0]
year94 = piv_fuel.iloc[0, 0]

#calculate the percentage change
percent = ((year98-year94)/year94) * 100
percent

-12.458551963280119

In [ ]:
fuel_data.loc[(fuel_data['report_year'] == 2002) & (fuel_data['fuel_type_code_pudl'] == 'coal'), 'fuel_qty_burned'].sum()

In [ ]:
year98 = piv_fuel.loc[(fuel_data['report_year'] <= 1998)]
year98

                    fuel_cost_per_unit_burned                          \
fuel_type_code_pudl                      coal        gas      nuclear
report_year
1994                                31.546467  22.161183  3211.033155
1995                                30.677442  18.067406  5262.364918
1996                                29.454299   3.444577  1625.802122
1997                               104.897309   3.389444  3632.061645
1998                                27.616234  14.515720  2066.460860

                                                       \
fuel_type_code_pudl         oil      other      waste
report_year
1994                  56.398759   9.728083   2.198417
1995                 158.037885  12.238467  -8.759045
1996                  33.481425  20.009375   4.004182
1997                  33.052368  12.826917   5.975348
1998                  38.362603  14.089250  11.905450

                    fuel_cost_per_unit_delivered                            \
fuel_type_code_pudl                         coal        gas        nuclear
report_year
1994                                  124.663939  16.630534      49.063268
1995                                   28.850834  13.081085      43.986521
1996                                   28.045432   3.086948  241737.169098
1997                                   27.119043  12.005241  392461.214710
1998                                  716.015659   9.111045      51.993404


fuel_type_code_pudl         oil      other      waste
report_year
1994                  45.920711   9.762333   2.192292
1995                 140.194637  11.169533  -8.610318
1996                 507.158631  20.413750   3.673909
1997                  25.193810  12.472583   5.864043
1998                  17.710809  11.177687  11.910200

In [ ]:
#calculating the skewness of fuel quantity burned
fuel_data['fuel_qty_burned'].skew()

15.851495469109503

In [ ]:
#calculating the kurtosis of the fuel quantity burned
fuel_data['fuel_qty_burned'].kurt()

651.3694501337732

In [ ]:
#standard deviation
fuel_data['fuel_mmbtu_per_unit'].std()

#percentile
fuel_data['fuel_mmbtu_per_unit'].quantile(q=0.75, interpolation='linear')

17.006

In [ ]:
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [ ]:
#A python list extend function iterates through the value to be added to the list

None

In [ ]:
# using the isnull function to capture the null values and use the sum function to know the total number of the null values
null = fuel_data['fuel_unit'].isnull().sum()

#using the count function on the record id feature to know the total number of rows
total_value = fuel_data['record_id'].count()

#checking the percentage of missing values to the total number of rows
percentage = (null/total_value) * 100
percentage

0.609694136774718